.content_div {
  height:43em;
  width:53em;
  background-color: rgb(250, 250, 250);
  border: 2px solid black;
  padding: 1.5em 1.5em;
  display: grid;
  grid-auto-columns: 10em;
  grid-auto-rows: 2em;
  box-shadow: 0.05em 0.1em 3px;
  border-radius: 10px;
}

.exit {
  grid-column: 5;
  grid-row: 1;
  justify-self: end;
  border: none;
}

.loading {
  grid-column: 3;
  grid-row: 12;
  height: 36px;
  width: 36px;
  justify-self: center;
  font-size: 36px;
}

.title {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 1;
  text-align: center;
}

.list {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 21;
  overflow: scroll;
  overflow-x: hidden;
}

.list_divider {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 7;
  align-self: center;
}

.divider {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 2;
  align-self: center;
}

.contact {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 3;
}

.team {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 4;
}

.last_update {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 5;
}

.error_status {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 6;
}

.list_item {

}